/*
GLOBAL
estilos globales, aca ira los selectores de 
etiquetas globales
*/
body {
  font-size: 16px;
  font-family: arial;
}

h2 {
  font-size: 24px;
}

/*HEADER
aca iran estilos del header
*/

/*
HOME
aca iran estilos de la seccion home*/

/*
SERVICIOS
aca iran estilos de la seccion servicios*/

/*
PORTAFOLIO
aca iran estilos de la seccion portafolio*/

/*
CONTACTO
aca iran estilos de la seccion contacto*/

/*
FOOTER
aca iran estilos de la seccion footer*/
